*.iml
.idea/
.idea_modules/
captures/
xcuserdata/
*.xcuserstate
*.xcbkptlist

**/build/
.gradle/
/.kotlin/
.kotlin/
.externalNativeBuild/
.cxx/

local.properties

*.jks
*.keystore

Pods/
DerivedData/

/composeApp/androidApp/google-services.json
/composeApp/iosApp/iosApp/GoogleService-Info.plist

.DS_Store
.DS_Store?
Thumbs.db
*.swp