*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/.kotlin/
/composeApp/androidApp/google-services.json
/composeApp/iosApp/iosApp/GoogleService-Info.plist
