name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  detekt:
    name: Code Analysis (Detekt)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Upload Detekt Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: detekt-report
          path: "**/build/reports/detekt/detekt.html"

  android:
    name: Build Android
    runs-on: ubuntu-latest
    needs: detekt # Opcional: Só tenta buildar se o código estiver "limpo"
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build Android APK
        run: ./gradlew :composeApp:androidApp:assembleDebug -x test

      - name: Upload Android Build
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: android-build
          path: composeApp/androidApp/build/outputs/apk/debug/

  ios:
    name: Build iOS Framework
    runs-on: macos-latest
    needs: detekt
    steps:
      - uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build iOS Framework (Simulator Arm64)
        env:
          GRADLE_OPTS: -Xmx4096m
        run: ./gradlew linkDebugFrameworkIosSimulatorArm64 -x test

  lint:
    name: Android Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Run Android Lint
        run: ./gradlew :composeApp:androidApp:lintDebug || true